# Day 1: Variables & Data Types

Welcome to Day 1 of your Python journey! Today we'll learn about variables and the fundamental data types in Python.

---

## üìö Topic Introduction

**Variables** are containers that store data values. Think of them as labeled boxes where you can put different things.

**Data Types** define what kind of data a variable can hold. Python has several built-in data types:

- **int**: Whole numbers (e.g., 5, -10, 1000)
- **float**: Decimal numbers (e.g., 3.14, -0.5, 2.0)
- **str**: Text (e.g., "hello", 'Python')
- **bool**: True or False values

---

## üîç Syntax & Rules

### Variable Naming Rules:
1. Must start with a letter or underscore (_)
2. Can contain letters, numbers, and underscores
3. Case-sensitive (age and Age are different)
4. Cannot use Python keywords (like if, for, while)

### Good Naming Practices:
- Use descriptive names: `student_name` instead of `sn`
- Use lowercase with underscores for multi-word names (snake_case)
- Keep names meaningful and concise

### Variable Assignment:
```python
variable_name = value
```

---

## üí° Examples

Let's see variables and data types in action!

In [1]:
# Example 1: Creating variables with different data types

# Integer (whole number)
age = 25
print("Age:", age)
print("Type:", type(age))

# Float (decimal number)
price = 19.99
print("\nPrice:", price)
print("Type:", type(price))

# String (text)
name = "Alice"
print("\nName:", name)
print("Type:", type(name))

# Boolean (True/False)
is_student = True
print("\nIs student:", is_student)
print("Type:", type(is_student))

Age: 25
Type: <class 'int'>

Price: 19.99
Type: <class 'float'>

Name: Alice
Type: <class 'str'>

Is student: True
Type: <class 'bool'>

In [2]:
# Example 2: Multiple assignment
x, y, z = 10, 20, 30
print(f"x = {x}, y = {y}, z = {z}")

# Assigning the same value to multiple variables
a = b = c = 100
print(f"a = {a}, b = {b}, c = {c}")

x = 10, y = 20, z = 30
a = 100, b = 100, c = 100

In [3]:
# Example 3: Type conversion (casting)
num_str = "42"
num_int = int(num_str)  # Convert string to integer
print(f"String '{num_str}' converted to integer: {num_int}")

num_float = float(num_str)  # Convert string to float
print(f"String '{num_str}' converted to float: {num_float}")

number = 100
number_str = str(number)  # Convert integer to string
print(f"Integer {number} converted to string: '{number_str}'")

String '42' converted to integer: 42
String '42' converted to float: 42.0
Integer 100 converted to string: '100'

In [4]:
# Example 4: Working with integers
score = 95
bonus = 5
total_score = score + bonus
print(f"Score: {score}")
print(f"Bonus: {bonus}")
print(f"Total Score: {total_score}")

Score: 95
Bonus: 5
Total Score: 100

In [5]:
# Example 5: Working with floats
temperature = 98.6
celsius = (temperature - 32) * 5/9
print(f"{temperature}¬∞F is equal to {celsius:.2f}¬∞C")

98.6¬∞F is equal to 37.00¬∞C

In [6]:
# Example 6: Working with strings
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name  # String concatenation
print(f"Full name: {full_name}")
print(f"Name length: {len(full_name)} characters")

Full name: John Doe
Name length: 8 characters

In [7]:
# Example 7: Working with booleans
is_raining = False
is_sunny = True
print(f"Is it raining? {is_raining}")
print(f"Is it sunny? {is_sunny}")
print(f"Should bring umbrella? {is_raining}")

Is it raining? False
Is it sunny? True
Should bring umbrella? False

In [8]:
# Example 8: Type checking and conversion safety
value1 = "123"
value2 = "hello"

# Safe conversion - checking if string is numeric
if value1.isnumeric():
    number = int(value1)
    print(f"'{value1}' converted to {number}")

if value2.isnumeric():
    number = int(value2)
    print(f"'{value2}' converted to {number}")
else:
    print(f"'{value2}' cannot be converted to a number")

'123' converted to 123
'hello' cannot be converted to a number

---

## ‚úèÔ∏è Practice Exercises

Now it's your turn! Try these exercises to reinforce what you've learned.

In [9]:
# Exercise 1: Create a variable called 'city' and assign it the name of your city
# Then print it

# Your code here
city = "Hyderabad"
print("City:", city)

City: Hyderabad

In [10]:
# Exercise 2: Create variables for your age (integer) and height in meters (float)
# Print both with appropriate labels

# Your code here
age = 34
height = 1.62   
print("Age:", age)
print("Height (m):", height)

Age: 34
Height (m): 1.62

In [11]:
# Exercise 3: Create three variables: first_name, last_name, and age
# Combine them into a sentence like "My name is John Doe and I am 25 years old"

# Your code here
first_name = "Madhu"
last_name = "Koseke"
age = 34
print(f"My name is {first_name} {last_name} and I am {age} years old")

My name is Madhu Koseke and I am 34 years old

In [12]:
# Exercise 4: Create a variable with a float value and print its type using type()

# Your code here
pi_value = 3.14159
print("Value:", pi_value)
print("Type:", type(pi_value))

Value: 3.14159
Type: <class 'float'>

In [13]:
# Exercise 5: Create a boolean variable called 'is_python_fun' and set it to True
# Print it with a message

# Your code here
is_python_fun = True
print("Is Python fun?", is_python_fun)

Is Python fun? True

In [14]:
# Exercise 6: Convert the string "3.14" to a float and store it in a variable
# Then print the variable and its type

# Your code here
str_value = "3.14"
float_value = float(str_value)
print("Float value:", float_value)
print("Type:", type(float_value))

Float value: 3.14
Type: <class 'float'>

In [15]:
# Exercise 7: Create an integer variable and convert it to a string
# Prove it's a string by using the type() function

# Your code here
int_value = 100
str_value = str(int_value)
print("String value:", str_value)
print("Type:", type(str_value))

String value: 100
Type: <class 'str'>

In [16]:
# Exercise 8: Assign values to three variables (a, b, c) in a single line
# a should be 10, b should be 20, c should be 30

# Your code here
a, b, c = 10, 20, 30
print(f"a = {a}, b = {b}, c = {c}")

a = 10, b = 20, c = 30

In [17]:
# Exercise 9: Create a variable for item price (29.99) and quantity (3)
# Calculate the total and print it

# Your code here
item_price = 29.99
quantity = 3
total_price = item_price * quantity
print(f"Total price for {quantity} items at ${item_price} each is: ${total_price:.2f}")

Total price for 3 items at $29.99 each is: $89.97

In [18]:
# Exercise 10: Create a string variable with your favorite quote
# Print the quote and its length using len()

# Your code here
favorite_quote = "The only limit to our realization of tomorrow is our doubts of today."
print("Favorite Quote:", favorite_quote)
print("Length of Quote:", len(favorite_quote))

Favorite Quote: The only limit to our realization of tomorrow is our doubts of today.
Length of Quote: 69

In [19]:
# Exercise 11: Create two integer variables and swap their values
# Print before and after swapping
# Hint: You can use x, y = y, x

# Your code here
x = 5
y = 10
print(f"Before swapping: x = {x}, y = {y}")
x, y = y, x
print(f"After swapping: x = {x}, y = {y}")

Before swapping: x = 5, y = 10
After swapping: x = 10, y = 5

In [20]:
# Exercise 12: Create variables for hours worked (40) and hourly rate (25.50)
# Calculate and print the weekly salary

# Your code here
hours_worked = 40
hourly_rate = 25.50
weekly_salary = hours_worked * hourly_rate
print(f"Weekly Salary for {hours_worked} hours at ${hourly_rate}/hour is: ${weekly_salary:.2f}")
print("Weekly Salary:", weekly_salary)

Weekly Salary for 40 hours at $25.5/hour is: $1020.00
Weekly Salary: 1020.0

In [21]:
# Exercise 13: Convert the integer 100 to a string and concatenate it with " dollars"

# Your code here
amount = 100
amount_str = str(amount) + " dollars"
print("Amount String:", amount_str)

Amount String: 100 dollars

In [22]:
# Exercise 14: Create a float variable for pi (3.14159)
# Print it rounded to 2 decimal places using round()

# Your code here
pi = 3.14159
print("Pi rounded to 2 decimal places:", round(pi, 2))

Pi rounded to 2 decimal places: 3.14

In [23]:
# Exercise 15: Create variables for a student: name (string), grade (integer), and passed (boolean)
# Print all three in a formatted sentence

# Your code here
student_name = "Emily"
grade = 88
passed = True
print(f"Student Name: {student_name}, Grade: {grade}, Passed: {passed}")

Student Name: Emily, Grade: 88, Passed: True

---

## üéØ Challenge Problems

Ready for something more challenging? Try these!

In [24]:
# Challenge 1: Temperature Converter
# Create a variable for temperature in Fahrenheit
# Convert it to Celsius and Kelvin
# Formula: C = (F - 32) * 5/9
# Formula: K = C + 273.15
# Print all three temperatures with labels

# Your code here
fahrenheit = 100
celsius = (fahrenheit - 32) * 5/9
kelvin = celsius + 273.15
print(f"Fahrenheit: {fahrenheit}¬∞F")
print(f"Celsius: {celsius:.2f}¬∞C")
print(f"Kelvin: {kelvin:.2f}K")

Fahrenheit: 100¬∞F
Celsius: 37.78¬∞C
Kelvin: 310.93K

In [25]:
# Challenge 2: Calculate compound interest
# Given: principal = 1000, rate = 5 (percent), time = 3 years
# Formula: amount = principal * (1 + rate/100) ** time
# Calculate and print the final amount and interest earned

# Your code here
principal = 1000
rate = 5
time = 3
amount = principal * (1 + rate/100) ** time
interest_earned = amount - principal
print(f"Final Amount after {time} years: ${amount:.2f}")
print(f"Interest Earned: ${interest_earned:.2f}")

Final Amount after 3 years: $1157.63
Interest Earned: $157.63

In [26]:
# Challenge 3: BMI Calculator
# Create variables for weight (in kg) and height (in meters)
# Calculate BMI using formula: BMI = weight / (height ** 2)
# Print the BMI rounded to 2 decimal places

# Your code here
weight = 70  # in kg
height = 1.75  # in meters
bmi = weight / (height ** 2)
print(f"BMI: {bmi:.2f}")

BMI: 22.86

In [27]:
# Challenge 4: Time converter
# Given total seconds (e.g., 3665), convert to hours, minutes, and seconds
# Hint: Use // for integer division and % for remainder
# Print in format: "X hours, Y minutes, Z seconds"

# Your code here
total_seconds = 3665
hours = total_seconds // 3600
minutes = (total_seconds % 3600) // 60
seconds = total_seconds % 60
print(f"{hours} hours, {minutes} minutes, {seconds} seconds")

1 hours, 1 minutes, 5 seconds

In [28]:
# Challenge 5: Shopping cart calculator
# Create variables for 3 items with their prices and quantities
# Calculate the subtotal, tax (8%), and final total
# Print an itemized receipt

# Your code here
item1_price = 15.99
item1_quantity = 2
item2_price = 23.50
item2_quantity = 1
item3_price = 9.99
item3_quantity = 4
subtotal = (item1_price * item1_quantity) + (item2_price * item2_quantity) + (item3_price * item3_quantity)
tax = subtotal * 0.08
final_total = subtotal + tax
print("Itemized Receipt:")
print(f"Item 1: ${item1_price} x {item1_quantity} = ${item1_price * item1_quantity:.2f}")
print(f"Item 2: ${item2_price} x {item2_quantity} = ${item2_price * item2_quantity:.2f}")
print(f"Item 3: ${item3_price} x {item3_quantity} = ${item3_price * item3_quantity:.2f}")
print(f"Subtotal: ${subtotal:.2f}")
print(f"Tax (8%): ${tax:.2f}")
print(f"Final Total: ${final_total:.2f}")

Itemized Receipt:
Item 1: $15.99 x 2 = $31.98
Item 2: $23.5 x 1 = $23.50
Item 3: $9.99 x 4 = $39.96
Subtotal: $95.44
Tax (8%): $7.64
Final Total: $103.08

---

## ‚úÖ Solutions

Try the exercises first before checking these solutions!

### Practice Exercise Solutions

In [ ]:
# Solution 1
city = "New York"
print(city)

In [ ]:
# Solution 2
age = 25
height = 1.75
print(f"Age: {age} years")
print(f"Height: {height} meters")

In [ ]:
# Solution 3
first_name = "John"
last_name = "Doe"
age = 25
print(f"My name is {first_name} {last_name} and I am {age} years old")

In [ ]:
# Solution 4
decimal_number = 3.14159
print(f"Value: {decimal_number}")
print(f"Type: {type(decimal_number)}")

In [ ]:
# Solution 5
is_python_fun = True
print(f"Is Python fun? {is_python_fun}")

In [ ]:
# Solution 6
pi_string = "3.14"
pi_float = float(pi_string)
print(f"Value: {pi_float}")
print(f"Type: {type(pi_float)}")

In [ ]:
# Solution 7
number = 42
number_string = str(number)
print(f"Value: {number_string}")
print(f"Type: {type(number_string)}")

In [ ]:
# Solution 8
a, b, c = 10, 20, 30
print(f"a = {a}, b = {b}, c = {c}")

In [ ]:
# Solution 9
price = 29.99
quantity = 3
total = price * quantity
print(f"Total: ${total}")

In [ ]:
# Solution 10
quote = "The only way to do great work is to love what you do."
print(f"Quote: {quote}")
print(f"Length: {len(quote)} characters")

In [ ]:
# Solution 11
x = 5
y = 10
print(f"Before: x = {x}, y = {y}")
x, y = y, x
print(f"After: x = {x}, y = {y}")

In [ ]:
# Solution 12
hours_worked = 40
hourly_rate = 25.50
weekly_salary = hours_worked * hourly_rate
print(f"Weekly salary: ${weekly_salary}")

In [ ]:
# Solution 13
amount = 100
result = str(amount) + " dollars"
print(result)

In [ ]:
# Solution 14
pi = 3.14159
pi_rounded = round(pi, 2)
print(f"Pi rounded to 2 decimal places: {pi_rounded}")

In [ ]:
# Solution 15
name = "Alice"
grade = 95
passed = True
print(f"Student {name} scored {grade} and passed: {passed}")

### Challenge Problem Solutions

In [ ]:
# Challenge 1 Solution
fahrenheit = 98.6
celsius = (fahrenheit - 32) * 5/9
kelvin = celsius + 273.15

print(f"Temperature in Fahrenheit: {fahrenheit}¬∞F")
print(f"Temperature in Celsius: {celsius:.2f}¬∞C")
print(f"Temperature in Kelvin: {kelvin:.2f}K")

In [ ]:
# Challenge 2 Solution
principal = 1000
rate = 5
time = 3

amount = principal * (1 + rate/100) ** time
interest = amount - principal

print(f"Principal: ${principal}")
print(f"Final amount: ${amount:.2f}")
print(f"Interest earned: ${interest:.2f}")

In [ ]:
# Challenge 3 Solution
weight = 70  # kg
height = 1.75  # meters

bmi = weight / (height ** 2)
print(f"Weight: {weight} kg")
print(f"Height: {height} m")
print(f"BMI: {bmi:.2f}")

In [30]:
# Challenge 4 Solution
total_seconds = 3665

hours = total_seconds // 3600
remaining = total_seconds % 3600
minutes = remaining // 60
seconds = remaining % 60

print(f"{total_seconds} seconds = {hours} hours, {minutes} minutes, {seconds} seconds")

3665 seconds = 1 hours, 1 minutes, 5 seconds

In [29]:
# Challenge 5 Solution
# Item 1
item1_name = "Laptop"
item1_price = 999.99
item1_qty = 1

# Item 2
item2_name = "Mouse"
item2_price = 29.99
item2_qty = 2

# Item 3
item3_name = "Keyboard"
item3_price = 79.99
item3_qty = 1

# Calculations
subtotal = (item1_price * item1_qty) + (item2_price * item2_qty) + (item3_price * item3_qty)
tax = subtotal * 0.08
total = subtotal + tax

# Receipt
print("=== RECEIPT ===")
print(f"{item1_name} x{item1_qty}: ${item1_price * item1_qty:.2f}")
print(f"{item2_name} x{item2_qty}: ${item2_price * item2_qty:.2f}")
print(f"{item3_name} x{item3_qty}: ${item3_price * item3_qty:.2f}")
print(f"\nSubtotal: ${subtotal:.2f}")
print(f"Tax (8%): ${tax:.2f}")
print(f"Total: ${total:.2f}")
print("===============")

=== RECEIPT ===
Laptop x1: $999.99
Mouse x2: $59.98
Keyboard x1: $79.99

Subtotal: $1139.96
Tax (8%): $91.20
Total: $1231.16
===============

---

## üéâ Congratulations!

You've completed Day 1! You now understand:
- How to create and name variables
- The four basic data types (int, float, str, bool)
- How to convert between data types
- How to perform basic operations with variables

### Next Steps:
- Review any concepts you found challenging
- Try creating your own variable practice problems
- Move on to Day 2: Strings when you're ready!

Remember: **Practice makes perfect!** The more you code, the more comfortable you'll become.