# Day 4: Tuples & Sets

Welcome to Day 4! Today we'll explore two more important data structures: tuples and sets.

---

## ðŸ“š Topic Introduction

### Tuples
**Tuples** are ordered, immutable collections. Once created, they cannot be modified.

Key characteristics:
- **Ordered**: Maintain their order
- **Immutable**: Cannot be changed after creation
- **Allow duplicates**: Can contain duplicate values
- **Faster than lists**: More efficient for read-only data

### Sets
**Sets** are unordered collections of unique elements.

Key characteristics:
- **Unordered**: No specific order
- **Unique elements**: Automatically removes duplicates
- **Mutable**: Can add/remove elements
- **Fast lookups**: Very efficient for membership testing

---

## ðŸ” Syntax & Rules

### Tuples:
```python
empty_tuple = ()
single_item = (1,)  # Note the comma
my_tuple = (1, 2, 3)
```

### Sets:
```python
empty_set = set()  # NOT {}
my_set = {1, 2, 3}
```

---

## ðŸ’¡ Examples - Tuples

In [ ]:
# Example 1: Creating tuples
empty_tuple = ()
single_item = (42,)  # Comma is required
coordinates = (10, 20)
rgb_color = (255, 128, 0)
mixed_tuple = (1, "hello", 3.14, True)

print("Empty:", empty_tuple)
print("Single:", single_item)
print("Coordinates:", coordinates)
print("RGB:", rgb_color)
print("Mixed:", mixed_tuple)

In [ ]:
# Example 2: Accessing tuple elements
fruits = ("apple", "banana", "cherry", "date")

print(f"First: {fruits[0]}")
print(f"Last: {fruits[-1]}")
print(f"Slice: {fruits[1:3]}")

In [ ]:
# Example 3: Tuple unpacking
point = (10, 20, 30)
x, y, z = point
print(f"x = {x}, y = {y}, z = {z}")

# Swapping values using tuples
a, b = 5, 10
print(f"Before swap: a = {a}, b = {b}")
a, b = b, a
print(f"After swap: a = {a}, b = {b}")

In [ ]:
# Example 4: Tuple methods
numbers = (1, 2, 3, 2, 4, 2, 5)

print(f"Count of 2: {numbers.count(2)}")
print(f"Index of 4: {numbers.index(4)}")
print(f"Length: {len(numbers)}")

## ðŸ’¡ Examples - Sets

In [ ]:
# Example 5: Creating sets
empty_set = set()
numbers = {1, 2, 3, 4, 5}
fruits = {"apple", "banana", "cherry"}

# Sets remove duplicates automatically
duplicates = {1, 2, 2, 3, 3, 3, 4}
print("With duplicates removed:", duplicates)

# Creating set from list
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)
print("From list:", my_set)

In [ ]:
# Example 6: Adding and removing elements
fruits = {"apple", "banana"}
print("Original:", fruits)

fruits.add("cherry")
print("After add:", fruits)

fruits.remove("banana")  # Raises error if not found
print("After remove:", fruits)

fruits.discard("grape")  # No error if not found
print("After discard (no error):", fruits)

In [ ]:
# Example 7: Set operations
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

# Union: all elements from both sets
print("Union:", set_a | set_b)
print("Union (method):", set_a.union(set_b))

# Intersection: common elements
print("Intersection:", set_a & set_b)
print("Intersection (method):", set_a.intersection(set_b))

# Difference: elements in A but not in B
print("Difference A-B:", set_a - set_b)
print("Difference (method):", set_a.difference(set_b))

In [ ]:
# Example 8: Set membership testing
fruits = {"apple", "banana", "cherry"}

print("Is 'apple' in fruits?", "apple" in fruits)
print("Is 'grape' in fruits?", "grape" in fruits)
print("Is 'grape' not in fruits?", "grape" not in fruits)

---

## âœï¸ Practice Exercises

In [ ]:
# Exercise 1: Create a tuple with 3 of your favorite colors

# Your code here

In [ ]:
# Exercise 2: Access the first and last element from the tuple (10, 20, 30, 40, 50)

# Your code here

In [ ]:
# Exercise 3: Unpack the tuple ("Alice", 25, "Engineer") into three variables

# Your code here

In [ ]:
# Exercise 4: Count how many times 5 appears in (1, 2, 5, 3, 5, 4, 5)

# Your code here

In [ ]:
# Exercise 5: Find the index of "banana" in ("apple", "banana", "cherry")

# Your code here

In [ ]:
# Exercise 6: Create a set with numbers 1 through 5

# Your code here

In [ ]:
# Exercise 7: Remove duplicates from the list [1, 2, 2, 3, 4, 4, 5] using a set

# Your code here

In [ ]:
# Exercise 8: Add "mango" to the set {"apple", "banana", "cherry"}

# Your code here

In [ ]:
# Exercise 9: Remove "banana" from {"apple", "banana", "cherry"}

# Your code here

In [ ]:
# Exercise 10: Check if "apple" is in the set {"apple", "banana", "cherry"}

# Your code here

In [ ]:
# Exercise 11: Find the union of {1, 2, 3} and {3, 4, 5}

# Your code here

In [ ]:
# Exercise 12: Find the intersection of {1, 2, 3, 4} and {3, 4, 5, 6}

# Your code here

In [ ]:
# Exercise 13: Find the difference between {1, 2, 3, 4} and {3, 4, 5}

# Your code here

In [ ]:
# Exercise 14: Get the length of the set {10, 20, 30, 40, 50}

# Your code here

In [ ]:
# Exercise 15: Create a tuple of coordinates (x, y) and print x and y separately

# Your code here

---

## ðŸŽ¯ Challenge Problems

In [ ]:
# Challenge 1: Find elements that are in set A or set B, but not in both
# (symmetric difference)
# set_a = {1, 2, 3, 4}
# set_b = {3, 4, 5, 6}
# Result should be {1, 2, 5, 6}

# Your code here

In [ ]:
# Challenge 2: Check if set A is a subset of set B
# set_a = {1, 2}
# set_b = {1, 2, 3, 4}

# Your code here

In [ ]:
# Challenge 3: Given a list of tuples representing (name, score),
# find the person with the highest score
# students = [("Alice", 85), ("Bob", 92), ("Charlie", 78)]

# Your code here

In [ ]:
# Challenge 4: Find common elements across three sets
# set1 = {1, 2, 3, 4, 5}
# set2 = {3, 4, 5, 6, 7}
# set3 = {5, 6, 7, 8, 9}

# Your code here

In [ ]:
# Challenge 5: Convert a string to a set of unique characters
# and count how many unique characters there are
# text = "programming"

# Your code here

---

## âœ… Solutions

### Practice Exercise Solutions

In [ ]:
# Solution 1
colors = ("blue", "green", "red")
print(colors)

In [ ]:
# Solution 2
numbers = (10, 20, 30, 40, 50)
print(f"First: {numbers[0]}")
print(f"Last: {numbers[-1]}")

In [ ]:
# Solution 3
person = ("Alice", 25, "Engineer")
name, age, job = person
print(f"Name: {name}, Age: {age}, Job: {job}")

In [ ]:
# Solution 4
numbers = (1, 2, 5, 3, 5, 4, 5)
count = numbers.count(5)
print(f"Count of 5: {count}")

In [ ]:
# Solution 5
fruits = ("apple", "banana", "cherry")
index = fruits.index("banana")
print(f"Index: {index}")

In [ ]:
# Solution 6
numbers = {1, 2, 3, 4, 5}
print(numbers)

In [ ]:
# Solution 7
my_list = [1, 2, 2, 3, 4, 4, 5]
unique = set(my_list)
print(unique)

In [ ]:
# Solution 8
fruits = {"apple", "banana", "cherry"}
fruits.add("mango")
print(fruits)

In [ ]:
# Solution 9
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

In [ ]:
# Solution 10
fruits = {"apple", "banana", "cherry"}
result = "apple" in fruits
print(result)

In [ ]:
# Solution 11
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1 | set2
print(union)

In [ ]:
# Solution 12
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection = set1 & set2
print(intersection)

In [ ]:
# Solution 13
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
difference = set1 - set2
print(difference)

In [ ]:
# Solution 14
numbers = {10, 20, 30, 40, 50}
length = len(numbers)
print(f"Length: {length}")

In [ ]:
# Solution 15
coordinates = (10, 20)
x, y = coordinates
print(f"x = {x}, y = {y}")

### Challenge Problem Solutions

In [ ]:
# Challenge 1 Solution
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
symmetric_diff = set_a ^ set_b
print(f"Symmetric difference: {symmetric_diff}")

In [ ]:
# Challenge 2 Solution
set_a = {1, 2}
set_b = {1, 2, 3, 4}
is_subset = set_a.issubset(set_b)
print(f"Is A subset of B? {is_subset}")

In [ ]:
# Challenge 3 Solution
students = [("Alice", 85), ("Bob", 92), ("Charlie", 78)]
highest = students[0]
for student in students:
    if student[1] > highest[1]:
        highest = student
print(f"Highest scorer: {highest[0]} with {highest[1]} points")

In [ ]:
# Challenge 4 Solution
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = {5, 6, 7, 8, 9}
common = set1 & set2 & set3
print(f"Common elements: {common}")

In [ ]:
# Challenge 5 Solution
text = "programming"
unique_chars = set(text)
print(f"Unique characters: {unique_chars}")
print(f"Count: {len(unique_chars)}")

---

## ðŸŽ‰ Congratulations!

You've completed Day 4! You now understand:
- Tuples and their immutability
- Tuple unpacking and practical uses
- Sets and unique elements
- Set operations (union, intersection, difference)

### Next Steps:
- Practice using tuples for immutable data
- Experiment with set operations
- Ready for Day 5: Dictionaries!

Keep building that foundation! ðŸš€